<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android" android:versionName="1.10" package="com.companyname.SouthernCuisine" android:installLocation="auto" android:versionCode="11">
	<uses-sdk android:minSdkVersion="19" android:targetSdkVersion="27" />
	<application android:label="SouthernCuisine.Android" android:icon="@drawable/Icon"></application>
</manifest>